mixin how()
    article.how&attributes(attributes)
        section.how__main
            h2.how__title Как найти ответ на вопрос сканворда?
            p Сервис Skanvordoff – это проект, который стремится помочь всем пользователям найти ответы на самые изощрённые вопросы из популярных сканвордов и кроссвордов. Здесь вы можете с легкостью произвести поиск по маске и определению.
        .how__options
            section.how__option
                h3.how__option-title.how__option-title--mask По маске
                p В базе представлена широкая область охвата от сложнейших химических соединений, до самых простых слов из двух букв.
                p Для поиска слова по маске достаточно ввести ваш запрос в соответствующую строку, и за секунду вам будет выдан самый релевантный вариант ответа.
                p Хотите сузить область поиска и у вас есть отгаданные буквы? Прекрасно, введите известные значения в строку «Поиск по маске», а вместо неизвестных поставьте звездочки.
                p Например: «*Р**К*Й**», система автоматически подберет все слова с такими буквами. Вам останется лишь выбрать подходящий вариант из предложенных.
            section.how__option
                h3.how__option-title.how__option-title--definition По определению
                p Если известен лишь сам вопрос, то введите его в строку «Поиск по определению», система автоматически подберет все возможные варианты. Вы можете написать длинное определение или только его часть, поиск все равно сделает свою работу.
                p В нашей базе находится более 150 000 вопросов с ответами. С каждым днем она становится все больше.
            section.how__option
                h3.how__option-title.how__option-title--letters По буквам
                p В дополнение к основным поискам, на сайте представлен удобный конструктор слов. В нем можно быстро произвести поиск по буквам, указав количество букв и очередность их в слове.
                p Поиск по буквам очень удобен, когда нужно подобрать схожие по структуре слова.
                p Доводите ваши сканворды до победного состояния и расширяйте свой кругозор вместе с нами.
