mixin pager-full()
    .pager&attributes(attributes)
        .pager__total
            .pager__total-caption Всего:
            .pager__total-value 14
        ul.pager__nav
            li.pager__page.pager__page--prev
                a(href="" title="Предыдущая").pager__link Предыдущая
            li.pager__page.active
                a(href="").pager__link 1
            li.pager__page
                a(href="").pager__link 2
            li.pager__page
                a(href="").pager__link 3
            li.pager__page
                a(href="").pager__link ...
            li.pager__page.pager__page--next
                a(href="" title="Следующая").pager__link Следующая

mixin pager-1()
    .pager&attributes(attributes)
        .pager__total
            .pager__total-caption Всего:
            .pager__total-value 14
        ul.pager__nav
            li.pager__page.active
                a(href="").pager__link 1
            li.pager__page
                a(href="").pager__link 2
            li.pager__page.pager__page--next
                a(href="" title="Следующая").pager__link Следующая

mixin pager-2()
    .pager&attributes(attributes)
        .pager__total
            .pager__total-caption Всего:
            .pager__total-value 14
        ul.pager__nav
            li.pager__page.active
                a(href="").pager__link 1
            li.pager__page
                a(href="").pager__link 2
            li.pager__page
                a(href="").pager__link 3

mixin pager-3()
    .pager&attributes(attributes)
        .pager__total
            .pager__total-caption Всего:
            .pager__total-value 14
        ul.pager__nav
            li.pager__page.active
                a(href="").pager__link 1
            li.pager__page
                a(href="").pager__link 2
            li.pager__page
                a(href="").pager__link 3
            li.pager__page
                a(href="").pager__link ...
            li.pager__page.pager__page--next
                a(href="" title="Следующая").pager__link Следующая

mixin pager-4()
    .pager&attributes(attributes)
        .pager__total
            .pager__total-caption Всего:
            .pager__total-value 14
        ul.pager__nav
            li.pager__page.pager__page--prev
                a(href="" title="Предыдущая").pager__link Предыдущая
            li.pager__page.active
                a(href="").pager__link 1
            li.pager__page
                a(href="").pager__link 2
            li.pager__page.pager__page--next
                a(href="" title="Следующая").pager__link Следующая
