mixin liker()
    .liker&attributes(attributes)
        span.liker__caption Подошло? 
        <a href="#" class="liker__likes" title="Подошло">21</a> 
        <a href="#" class="liker__dislikes" title="Не подошло">5</a>
