.requests
    width 100%
    background-color white
    border 1px solid #ebebeb
    border-radius 3px
    box-shadow 0 0 18px rgba(0, 0, 0, 0.08)
    padding 30px 30px 40px
    +below(1010px)
        padding-left 25px
        padding-right 25px
    +below(750px)
        &--home
            padding 55px 20px 30px

    &__title
        color #2f2f44
        font(Medium)
        font-size 17px
        line-height 1
        text-transform uppercase
        padding-bottom 20px
        border-bottom 1px solid #d9d9d9
        margin 0 0 30px


    &__main
        width 100%
        display flex
        flex-flow row nowrap
        justify-content center
        +below(750px)
            flex-wrap wrap
            align-items center

    &__block
        flex 1 1 420px
        &:first-child
            margin-right 80px
            +below(1010px)
                margin-right 60px
            +below(750px)
                margin-right 0
                ^[0]--home &
                    margin-bottom 90px
        +below(750px)
            flex 0 1 420px
            &:last-child
                display none
                ^[0]--home &
                    display block


    &__caption
        position relative
        text-align center
        margin 0 0 31px
        &::before
            content ""
            display block
            width 100%
            height 2px
            background-color #2f2f44
            position absolute
            top 15px
            left 0
            right 0
        span
            display inline-block
            height: 32px;
            background: #2f2f44;
            position: relative;
            color white
            font(Medium)
            font-size 17px
            line-height 1
            text-transform uppercase
            text-align center
            padding 8px 7px 0
            &:before
                content: "";
                position: absolute;
                top: 0;
                left: -10px;
                width: 0;
                height: 0;
                border-top: 16px solid transparent;
                border-bottom: 16px solid transparent;
                border-right: 10px solid #2f2f44;
            &:after
                content: "";
                position: absolute;
                top: 0;
                right: -10px;
                width: 0;
                height: 0;
                border-top: 16px solid transparent;
                border-bottom: 16px solid transparent;
                border-left: 10px solid #2f2f44;

    &__list
        display block
        list-style none
        border-bottom 1px solid #d9d9d9
        padding 0 0 20px
        margin 0 0 15px

    &__more-link
        display block
        color #767373
        font()
        font-size 14px
        line-height 1
        text-align center
        text-decoration none
        margin 0
        &:hover
            color @color
            text-decoration underline

.request
    display flex
    flex-flow row nowrap
    justify-content space-between
    align-items center
    width 100%
    padding 10px 0
    margin 0

    &__query
        flex 1 1 auto
        display inline-block
        font()
        font-size 16px
        line-height 22px
        color #3d3d3d
        margin 0 5px 0 0
        a
            color #3d3d3d
            text-decoration none
            &:hover
                color @color
                text-decoration underline
    &__results
        flex 0 0 auto
        display inline-block
        font(Medium)
        font-size 16px
        line-height 1
        color white
        background-color #3d3d3d
        padding 10px 19px
        border-radius 18px
        margin 0
