
@font-face {
  font-family: 'Glasten';
  src: url('Glasten.eot?#iefix') format('embedded-opentype'),  url('Glasten.woff') format('woff'), url('Glasten.ttf')  format('truetype'), url('Glasten.svg#Glasten') format('svg');
  font-weight: normal;
  font-style: normal;
}
