include ../bottom-menu/bottom-menu

mixin footer()
    footer.footer&attributes(attributes)
        .footer__in
            +bottom-menu(class="footer__menu")
            p.footer__copyright &copy; 2016 Copyright <a href="#">Skanvordoff</a>
