a, input, *:focus
    outline none

html
    box-sizing border-box
    height 100%
    margin 0

*, *:before, *:after
    box-sizing inherit

body
    color #333
    font()
    font-size 16px
    line-height 1
    background-color #f0f0f0
    min-width 320px
    height 100%
    position relative
    overflow-x hidden
    overflow-y scroll
    -webkit-font-smoothing subpixel-antialiased !important
    -webkit-backface-visibility hidden
       -moz-backface-visibility hidden
        -ms-backface-visibility hidden

    &:after
        display table
        clear both
        content ""

.hidden
    display none
