button(bgcolor = blue)
    display block
    width 100%
    max-width 278px
    height 60px
    if bgcolor == blue
        background-color #004c9d
    if bgcolor == green
        background-color #156500
    border none
    color white
    font(Bold)
    font-size 20px
    line-height 1
    letter-spacing: 0.05em
    text-transform uppercase
    text-align center
    text-decoration none
    outline: none
    cursor pointer
    transition all 0.3s ease

    &:hover
        color @color
        text-decoration none
        if bgcolor == blue
            background-color #0069d9
        if bgcolor == green
            background-color lighten(#156500, 15%)

input()
    box-sizing border-box
    width 100%
    max-width 278px
    height 45px
    background-color white
    border 1px solid #e4e4e4
    color #003874
    font(Thin)
    font-size 18px
    line-height 45px
    padding 0 20px
    position relative
    &:focus
        background-color white
        border 1px solid #003874

// label.invalid-field
//     display block
//     width 100%
//     max-width 278px
//     color red
//     font(Regular)
//     font-size 14px
//     line-height 1
//     text-align center
//     padding 0px 20px
//     margin -10px auto 15px
//     &.hidden
//         display none !important
//
// input::-webkit-input-placeholder
//     color #003874
//     opacity 1
// input::-moz-placeholder
//     color #003874
//     opacity 1
// input:-moz-placeholder
//     color #003874
//     opacity 1
// input:-ms-input-placeholder
//     color #003874
//     opacity 1
// input:input-placeholder
//     color #003874
//     opacity 1
//
// input:focus::-webkit-input-placeholder
//     opacity 0.5
//     color #003874
// input:focus::-moz-placeholder
//     opacity 0.5
//     color #003874
// input:focus:-moz-placeholder
//     opacity 0.5
//     color #003874
// input:focus:-ms-input-placeholder
//     opacity 0.5
//     color #003874
// input:focus:input-placeholder
//     opacity 0.5
//     color #003874
//
// input:-webkit-autofill
//     -webkit-box-shadow inset 0 0 0 50px rgba(255,255,255,1) !important
//     background-color white !important
//     -webkit-text-fill-color #003874 !important;
//     color #003874 !important
