doctype html

// Верстка и программирование сайта: http://web-master-pro.ru 

html(lang="ru")

    head
        meta(charset="utf-8")
        title Skanvordoff | Список страниц проекта

        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
        meta(name="generator" content="web-master-pro.ru")
        
        link(rel="apple-touch-icon" sizes="57x57" href="assets/img/favicons/apple-touch-icon-57x57.png")
        link(rel="apple-touch-icon" sizes="60x60" href="assets/img/favicons/apple-touch-icon-60x60.png")
        link(rel="apple-touch-icon" sizes="72x72" href="assets/img/favicons/apple-touch-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="76x76" href="assets/img/favicons/apple-touch-icon-76x76.png")
        link(rel="apple-touch-icon" sizes="114x114" href="assets/img/favicons/apple-touch-icon-114x114.png")
        link(rel="apple-touch-icon" sizes="120x120" href="assets/img/favicons/apple-touch-icon-120x120.png")
        link(rel="apple-touch-icon" sizes="144x144" href="assets/img/favicons/apple-touch-icon-144x144.png")
        link(rel="apple-touch-icon" sizes="152x152" href="assets/img/favicons/apple-touch-icon-152x152.png")
        link(rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon-180x180.png")
        link(rel="icon" type="image/png" href="assets/img/favicons/favicon-32x32.png" sizes="32x32")
        link(rel="icon" type="image/png" href="assets/img/favicons/android-chrome-192x192.png" sizes="192x192")
        link(rel="icon" type="image/png" href="assets/img/favicons/favicon-96x96.png" sizes="96x96")
        link(rel="icon" type="image/png" href="assets/img/favicons/favicon-16x16.png" sizes="16x16")
        link(rel="manifest" href="assets/img/favicons/manifest.json")
        link(rel="mask-icon" href="assets/img/favicons/safari-pinned-tab.svg")
        link(rel="shortcut icon" href="assets/img/favicons/favicon.ico")
        meta(name="msapplication-TileColor" content="#2d89ef")
        meta(name="msapplication-TileImage" content="assets/img/favicons/mstile-144x144.png")
        meta(name="msapplication-config" content="assets/img/favicons/browserconfig.xml")
        meta(name="theme-color" content="#ffffff")

        style.
            body {min-width: 320px; color: #444; font-size: 18px; font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';font-weight: normal; line-height: 1.2; background-color: #fff; padding: 20px; margin: 0;}
            .page__in {display: block; width: 100%; max-width: 800px; margin: 0 auto;}
            .page__text {margin: 0 0 1.25em}
            .page__title {font-size: 32px;}
            .page__title-2 {font-size: 24px; border-top: 1px solid #ccc; padding-top: 20px;}
            .page__title-3 {font-size: 18px; font-weight: normal;}
            .page__link {color: #036; text-decoration: underline;}
            .page__link:hover {color: #c00;  text-decoration: none;}
            .page__link--disabled, .page__link--disabled:hover {color: #999; cursor: default; text-decoration: underline;}
            .page__block {padding-left: 20px;}
            .page__line {color: #555; background-color:#555; border: none; height: 1px; margin: 0 0 1.25em;}

    body.page
        .page__in

            h1.page__title Список страниц проекта "Skanvordoff"
            p.page__text Архив со всеми файлами: <a href="javascript:void(0);" target="_blank" class="page__link page__link--disabled">skanvordoff.zip</a> (пока недоступен)
            hr.page__line

            p.page__text 1. <a href="home.html" target="_blank" class="page__link"> Главная страница</a> (одна на все варианты)

            hr.page__line
            
            h3.page__title-3 2. Вторая страница "Слова" (4 варианта):</h3>
            .page__block
                p.page__text <a href="words-right-one.html" target="_blank" class="page__link">cайдбар справа, по центру 1 колонка<a>
                p.page__text <a href="words-left-one.html" target="_blank" class="page__link">cайдбар слева, по центру 1 колонка<a>
                p.page__text <a href="words-right-two.html" target="_blank" class="page__link">cайдбар справа, по центру 2 колонки<a>
                p.page__text <a href="words-left-two.html" target="_blank" class="page__link">cайдбар слева, по центру 2 колонки<a>
            
            hr.page__line
            //- 
            //- h3.page__title-3 3. Третья страница "Слово" (2 варианта):</h3>
            //- .page__block
            //-     p.page__text <a href="word-right.html" target="_blank" class="page__link">cайдбар справа<a>
            //-     p.page__text <a href="word-left.html" target="_blank" class="page__link">cайдбар слева<a>
            //- 
            //- hr.page__line 
            //-     
            //- h3.page__title-3 4. Четвертая страница "Буквы" (2 варианта):</h3>
            //- .page__block
            //-     p.page__text <a href="letters-right.html" target="_blank" class="page__link">cайдбар справа<a>
            //-     p.page__text <a href="letters-left.html" target="_blank" class="page__link">cайдбар слева<a>

            //- hr.page__line 
            //- 
            //- h3.page__title-3 5. Пятая страница "Буквы Демо" (2 варианта):</h3>
            //- .page__block
            //-     p.page__text <a href="letters-demo-right.html" target="_blank" class="page__link">cайдбар справа<a>
            //-     p.page__text <a href="letters-demo-left.html" target="_blank" class="page__link">cайдбар слева<a>

                
