doctype html

// Верстка и программирование сайта: http://web-master-pro.ru 

html(lang="ru")

    head
        meta(charset="utf-8")
        title Skanvordoff | Список страниц проекта

        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
        meta(name="generator" content="web-master-pro.ru")
        
        link(rel="apple-touch-icon" sizes="57x57" href="assets/img/favicons/apple-touch-icon-57x57.png")
        link(rel="apple-touch-icon" sizes="60x60" href="assets/img/favicons/apple-touch-icon-60x60.png")
        link(rel="apple-touch-icon" sizes="72x72" href="assets/img/favicons/apple-touch-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="76x76" href="assets/img/favicons/apple-touch-icon-76x76.png")
        link(rel="apple-touch-icon" sizes="114x114" href="assets/img/favicons/apple-touch-icon-114x114.png")
        link(rel="apple-touch-icon" sizes="120x120" href="assets/img/favicons/apple-touch-icon-120x120.png")
        link(rel="apple-touch-icon" sizes="144x144" href="assets/img/favicons/apple-touch-icon-144x144.png")
        link(rel="apple-touch-icon" sizes="152x152" href="assets/img/favicons/apple-touch-icon-152x152.png")
        link(rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon-180x180.png")
        link(rel="icon" type="image/png" href="assets/img/favicons/favicon-32x32.png" sizes="32x32")
        link(rel="icon" type="image/png" href="assets/img/favicons/android-chrome-192x192.png" sizes="192x192")
        link(rel="icon" type="image/png" href="assets/img/favicons/favicon-96x96.png" sizes="96x96")
        link(rel="icon" type="image/png" href="assets/img/favicons/favicon-16x16.png" sizes="16x16")
        link(rel="manifest" href="assets/img/favicons/manifest.json")
        link(rel="mask-icon" href="assets/img/favicons/safari-pinned-tab.svg")
        link(rel="shortcut icon" href="assets/img/favicons/favicon.ico")
        meta(name="msapplication-TileColor" content="#2d89ef")
        meta(name="msapplication-TileImage" content="assets/img/favicons/mstile-144x144.png")
        meta(name="msapplication-config" content="assets/img/favicons/browserconfig.xml")
        meta(name="theme-color" content="#ffffff")

        style.
            body {background: #fff; min-width: 320px;}
            .page-list {box-sizing: border-box; width:100%; max-width: 1000px; padding: 20px; margin: auto;}
            .page-list__title {font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif'; font-size: 30px;  font-weight: normal; margin: 10px 0 30px;}
            .page-list__list {padding: 0; margin: 0;}
            .page-list__item {box-sizing: border-box; font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif'; list-style: none; padding: 0 0 20px; font-size: 14px; margin: 0;}
            .page-list__link, .page-list__link:visited {display: inline-block; height: 15px; color: #290656;          text-decoration: underline;}
            .page-list__link:hover {text-decoration: none; color: #374EC5;}
            .page-list__spacer, .page-list__file-name {color: #999;font-size: 14px;font-family: 'Cambria', 'Georgia', 'serif';font-style: italic;padding: 5px 0 10px 10px;margin: 0;}
            .page-list__item--top-line {border-top: 1px solid #ccc;padding-top: 20px;}

    body.page
        .page-list
            h1.page-list__title Список страниц проекта "Skanvordoff"
            ul.page-list__list
                li.page-list__item
                    a(href="home.html").page-list__link Главная страница
                    span.page-list__spacer —
                    span.page-list__file-name 'home.html'
                
                //- li.page-list__item.page-list__item--top-line
                //-     a(href="archive.zip").page-list__link Архив со всеми файлами
                //-     span.page-list__spacer —
                //-     span.page-list__file-name 'archive.zip'
