include ../blocks/browsehappy/browsehappy
include ../blocks/header/header
include ../blocks/card/card
include ../blocks/advert/advert
include ../blocks/pager/pager
include ../blocks/requests/requests
include ../blocks/footer/footer

doctype html

// Верстка сайта: http://web-master-pro.ru 

html(lang="ru-RU")

    head
        meta(charset="utf-8")
        title Слова - сайдбар справа -1 колонка по центру | Skanvordoff
        meta(name="description" content="")
        meta(name="keywords" content="")

        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
        meta(name="generator" content="web-master-pro.ru")
        
        link(rel="apple-touch-icon" sizes="57x57" href="assets/img/favicons/apple-touch-icon-57x57.png")
        link(rel="apple-touch-icon" sizes="60x60" href="assets/img/favicons/apple-touch-icon-60x60.png")
        link(rel="apple-touch-icon" sizes="72x72" href="assets/img/favicons/apple-touch-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="76x76" href="assets/img/favicons/apple-touch-icon-76x76.png")
        link(rel="apple-touch-icon" sizes="114x114" href="assets/img/favicons/apple-touch-icon-114x114.png")
        link(rel="apple-touch-icon" sizes="120x120" href="assets/img/favicons/apple-touch-icon-120x120.png")
        link(rel="apple-touch-icon" sizes="144x144" href="assets/img/favicons/apple-touch-icon-144x144.png")
        link(rel="apple-touch-icon" sizes="152x152" href="assets/img/favicons/apple-touch-icon-152x152.png")
        link(rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon-180x180.png")
        link(rel="icon" type="image/png" href="assets/img/favicons/favicon-32x32.png" sizes="32x32")
        link(rel="icon" type="image/png" href="assets/img/favicons/android-chrome-192x192.png" sizes="192x192")
        link(rel="icon" type="image/png" href="assets/img/favicons/favicon-96x96.png" sizes="96x96")
        link(rel="icon" type="image/png" href="assets/img/favicons/favicon-16x16.png" sizes="16x16")
        link(rel="manifest" href="assets/img/favicons/manifest.json")
        link(rel="mask-icon" href="assets/img/favicons/safari-pinned-tab.svg")
        link(rel="shortcut icon" href="assets/img/favicons/favicon.ico")
        meta(name="msapplication-TileColor" content="#2d89ef")
        meta(name="msapplication-TileImage" content="assets/img/favicons/mstile-144x144.png")
        meta(name="msapplication-config" content="assets/img/favicons/browserconfig.xml")
        meta(name="theme-color" content="#ffffff")

        link(rel="stylesheet" href="assets/css/style.min.css?rev=@@hash")

    body
        +browsehappy()
        +header()
        .layout.layout--sidebar-right
            .layout__main
                main.content
                    .content__top
                        h1.content__title Слова из 7 букв, 1 буква Э, 7 буква И
                        p.content__subtitle Варианты ответов к сканвордам и кроссвордам
                    .content__main
                        +card-1()
                        +advert()
                        +card-2()
                        +card-3()
                        +card-4()
                +pager-1()
                +requests()

            .layout__sidebar
                aside.sidebar
                    .sidebar__section
                        a(href="#").sidebar__link
                            img(src="assets/img/sample-sidebar-banner-1.jpg" alt="").sidebar__banner
                    .sidebar__section
                        a(href="#").sidebar__link
                            img(src="assets/img/sample-sidebar-banner-2.jpg" alt="").sidebar__banner
        +footer()

        script(src="https://code.jquery.com/jquery-2.2.4.min.js")
        script window.jQuery || document.write('<script src="assets/js/jquery.min.js"><\/script>')
        script(src="assets/js/plugins.min.js?rev=@@hash")
        script(src="assets/js/app.min.js?rev=@@hash")
