mixin bottom-menu()
    nav.bottom-menu&attributes(attributes)
        ul.bottom-menu__list
            li.bottom-menu__item
                a(href="#").bottom-menu__link Главная
            li.bottom-menu__item
                a(href="#").bottom-menu__link Карта сайта
