mixin the-word(caption, results)
    li.words__item
        .words__caption
            a(href="") #{caption}
        .words__results #{results}

mixin words()
    .words&attributes(attributes)
        ul.words__list
            +the-word("Слова из 2 букв", "268")
            +the-word("Слова из 3 букв", "2296")
            +the-word("Слова из 4 букв", "8122")
            +the-word("Слова из 5 букв", "17484")
            +the-word("Слова из 6 букв", "22629")
            +the-word("Слова из 7 букв", "24669")
            +the-word("Слова из 8 букв", "21351")
            +the-word("Слова из 9 букв", "17335")
            +the-word("Слова из 10 букв", "13328")
            +the-word("Слова из 11 букв", "96686")
            +the-word("Слова из 12 букв", "6499")
            +the-word("Слова из 13 букв", "4322")
            +the-word("Слова из 14 букв", "2783")
            +the-word("Слова из 15 букв", "1810")
            +the-word("Слова из 16 букв", "1142")
            +the-word("Слова из 17 букв", "747")
            +the-word("Слова из 18 букв", "490")
            +the-word("Слова из 19 букв", "268")
            +the-word("Слова из 20 букв", "231")
            +the-word("Слова из 21 букв", "125")
            +the-word("Слова из 22 букв", "64")
            +the-word("Слова из 23 букв", "37")
            +the-word("Слова из 24 букв", "41")
            +the-word("Слова из 25 букв", "13")
            +the-word("Слова из 26 букв", "24")
            +the-word("Слова из 27 букв", "10")
            +the-word("Слова из 28 букв", "6")
            +the-word("Слова из 29 букв", "7")
            +the-word("Слова из 30 букв", "3")
            +the-word("Слова из 31 букв", "4")
            +the-word("Слова из 32 букв", "2")
            +the-word("Слова из 33 букв", "2")
            +the-word("Слова из 34 букв", "5")
            +the-word("Слова из 35 букв", "3")
            +the-word("Слова из 36 букв", "1")
