.words
    display block
    width 100%
    background-color white
    border 1px solid #ebebeb
    border-radius 3px
    box-shadow 0 0 18px rgba(0, 0, 0, 0.08)
    padding 15px 7px 15px 15px
    transition all 1s ease

    &__list
        list-style none
        display block
        width 100%
        padding 0
        margin 0
        transition all 1s ease

    &__item
        display none
        flex-flow row nowrap
        justify-content space-between
        align-items center
        width 100%
        padding 5px 0
        margin 0
        &:nth-child(1)
        &:nth-child(2)
        &:nth-child(3)
        &:nth-child(4)
        &:nth-child(5)
            display flex
        ^[0]__list.expanded &
            display flex
        +above(450px)
            display flex

    &__caption
        flex 1 1 auto
        display inline-block
        font()
        font-size 16px
        line-height 22px
        color #3d3d3d
        margin 0 5px 0 0
        a
            color #3d3d3d
            text-decoration none
            &:hover
                color @color
                text-decoration underline

    &__results
        flex 0 0 auto
        display inline-block
        font(Medium)
        font-size 16px
        line-height 1
        color white
        background-color #3d3d3d
        padding 10px 19px
        border-radius 18px
        margin 0

    &__button
        display block
        background-color #f51f47
        border none
        border-radius 20px
        color white
        font(Medium)
        font-size 17px
        line-height 1
        text-align center
        transition background-color .3s ease, transform .3s ease
        cursor pointer
        padding 9px 17px
        margin 10px auto 0
        &:hover
            background-color #fd3a5e
            transform none
        +above(450px)
            display none

    &__button-hide
        display none

