.stat
    width 100%
    display block
    background-color white
    border 1px solid #ebebeb
    border-radius 4px
    box-shadow 0 0 18px rgba(0, 0, 0, 0.08)
    text-align center
    overflow hidden

    &__title
        display block
        width 100%
        border 1px solid #ebebeb
        box-shadow 0 0 18px rgba(0, 0, 0, 0.08)
        background-color #2f2f44
        color white
        font(Medium)
        font-size 17px
        line-height 1
        text-align center
        text-transform uppercase
        padding 15px 2px 14px
        border-radius 4px 4px 0 0
        margin 0 0 40px

    &__caption
        color #2f2f2f
        font()
        font-size 14px
        line-height 1
        text-align center
        margin 0 0 20px

    &__value
        display inline-block
        color white
        font(Medium)
        font-size 16px
        line-height 1
        background-color #3d3d3d
        border 1px solid #ebebeb
        box-shadow 0 0 18px rgba(0, 0, 0, 0.08)
        border-radius 30px
        padding 12px 25px 11px
        margin 0 auto 24px
