mixin advert()
    .advert&attributes(attributes)
        .advert__ad
            a(href="#").advert__link
                img(src="assets/img/sample-adv-1.jpg" alt="").advert__img
                p.advert__caption Легкий способ избавит от алкоголизма навсегда за 7 дней!
        .advert__ad
            a(href="#").advert__link
                img(src="assets/img/sample-adv-2.jpg" alt="").advert__img
                p.advert__caption Легкий способ избавит от алкоголизма навсегда за 7 дней!
        .advert__ad
            a(href="#").advert__link
                img(src="assets/img/sample-adv-3.jpg" alt="").advert__img
                p.advert__caption Легкий способ избавит от алкоголизма навсегда за 7 дней!

mixin advert-1()
    .advert&attributes(attributes)
        .advert__ad
            a(href="#").advert__link
                img(src="assets/img/sample-adv-1.jpg" alt="").advert__img
                p.advert__caption Легкий способ избавит от алкоголизма навсегда за 7 дней!

mixin advert-2()
    .advert&attributes(attributes)
        .advert__ad
            a(href="#").advert__link
                img(src="assets/img/sample-adv-2.jpg" alt="").advert__img
                p.advert__caption Легкий способ избавит от алкоголизма навсегда за 7 дней!

mixin advert-3()
    .advert&attributes(attributes)
        .advert__ad
            a(href="#").advert__link
                img(src="assets/img/sample-adv-3.jpg" alt="").advert__img
                p.advert__caption Легкий способ избавит от алкоголизма навсегда за 7 дней!
 
