mixin tile-letter(caption,value)
    a(href="#").tile&attributes(attributes)
        p.tile__caption #{caption}
        p.tile__value #{value}

mixin tile-word(caption)
    a(href="#").tile&attributes(attributes)
        p.tile__caption #{caption}

mixin tiles-letters()
    .tiles&attributes(attributes)
        +tile-letter("1 буква «А»", "176 слов")(class="active")
        +tile-letter("1 буква «Б»","104 слов")
        +tile-letter("1 буква «В»","92 слов")

        +tile-letter("1 буква «А»","176 слов")
        +tile-letter("1 буква «Б»","104 слов")
        +tile-letter("1 буква «В»","92 слов")

        +tile-letter("1 буква «А»","176 слов")
        +tile-letter("1 буква «Б»","104 слов")
        +tile-letter("1 буква «В»","92 слов")

        +tile-letter("1 буква «А»","176 слов")
        +tile-letter("1 буква «Б»","104 слов")
        +tile-letter("1 буква «В»","92 слов")

        +tile-letter("1 буква «А»","176 слов")
        +tile-letter("1 буква «Б»","104 слов")
        +tile-letter("1 буква «В»","92 слов")

        +tile-letter("1 буква «А»","176 слов")
        +tile-letter("1 буква «Б»","104 слов")
        +tile-letter("1 буква «В»","92 слов")

        +tile-letter("1 буква «А»","176 слов")
        +tile-letter("1 буква «Б»","104 слов")
        +tile-letter("1 буква «В»","92 слов")

        +tile-letter("1 буква «А»","176 слов")
        +tile-letter("1 буква «Б»","104 слов")
        +tile-letter("1 буква «В»","92 слов")

        +tile-letter("1 буква «А»","176 слов")
        +tile-letter("1 буква «Б»","104 слов")
        +tile-letter("1 буква «В»","92 слов")

        +tile-letter("1 буква «А»","176 слов")
        +tile-letter("1 буква «Б»","104 слов")
        +tile-letter("1 буква «В»","92 слов")

        +tile-letter("1 буква «А»","176 слов")
        +tile-letter("1 буква «Б»","104 слов")
        +tile-letter("1 буква «В»","92 слов")

mixin tiles-words()
    .tiles&attributes(attributes)
        +tile-word("Добаживаться")(class="active")
        +tile-word("Добазаниться")
        +tile-word("Добуживаться")
        
        +tile-word("Докобениться")
        +tile-word("Докумекаться")
        +tile-word("Допащиваться")
        
        +tile-word("Демонстрация")
        +tile-word("Драстическое")
        +tile-word("Дополуденный")

        +tile-word("Докобениться")
        +tile-word("Докумекаться")
        +tile-word("Допащиваться")
        
        +tile-word("Демонстрация")
        +tile-word("Драстическое")
        +tile-word("Дополуденный")

        +tile-word("Докобениться")
        +tile-word("Докумекаться")
        +tile-word("Допащиваться")
        
        +tile-word("Демонстрация")
        +tile-word("Драстическое")
        +tile-word("Дополуденный")

        +tile-word("Докобениться")
        +tile-word("Докумекаться")
        +tile-word("Допащиваться")
        
        +tile-word("Демонстрация")
        +tile-word("Драстическое")
        +tile-word("Дополуденный")

        +tile-word("Докобениться")
        +tile-word("Докумекаться")
        +tile-word("Допащиваться")
        
        +tile-word("Демонстрация")
        +tile-word("Драстическое")
        +tile-word("Дополуденный")

        +tile-word("Докобениться")
        +tile-word("Докумекаться")
        +tile-word("Допащиваться")
        
        +tile-word("Демонстрация")
        +tile-word("Драстическое")
        +tile-word("Дополуденный")

        +tile-word("Докобениться")
        +tile-word("Докумекаться")
        +tile-word("Допащиваться")
        
        +tile-word("Демонстрация")
        +tile-word("Драстическое")
        +tile-word("Дополуденный")

        +tile-word("Докобениться")
        +tile-word("Докумекаться")
        +tile-word("Допащиваться")
        
        +tile-word("Демонстрация")
        +tile-word("Драстическое")
        +tile-word("Дополуденный")

        +tile-word("Докобениться")
        +tile-word("Докумекаться")
        +tile-word("Допащиваться")
        
        +tile-word("Демонстрация")
        +tile-word("Драстическое")
        +tile-word("Дополуденный")

        +tile-word("Докобениться")
        +tile-word("Докумекаться")
        +tile-word("Допащиваться")
        
        +tile-word("Демонстрация")
        +tile-word("Драстическое")
        +tile-word("Дополуденный")



